.new-product img{
    width: 480px;
    height: 400px;

}
.new-product{
    margin-top: 40px;
}
#picture{
    width: 500px;
    height: 600px;

}
.pruduct1 img{
    width: 140px;
    height: 130px;
    border: 3px solid #ccc;
    padding: 4px;
}
#picture1{
    width: 500px;
    height: 600px;

}
.new-product div{
    float: left;
}
.price{
    font-size: 30px;
    color: #fa558f;
    margin-top: 30px;
    margin-bottom: 20px;
}
#picture1 input[type="number"]{
    width: 50px;
    height: 30px;
    border: 1px solid #8c8c8c;
    border-radius: 4px;
    margin-left: 10px;

}
#picture1 .add{
    font-size: 15px;
    cursor: pointer;
}
#picture1 .add:hover{
    color: #cccccc;

}















