#on{
    margin-top: 30px;
    margin-bottom: 40px;

}
#password span{
    color: #5d5959;
    font-size: 20px;
}
#password{
    width: 600px;
    height: 400px;

}
#password input{
 margin-bottom: 15px;
    width: 400px;
    height: 38px;
    outline: none;
    text-indent: 10px;
    font-size: 20px;

}
#password input[type="submit"]{
    width: 150px;
    margin-left: 100px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background: orange;
}
a{
    color: black;
}
#forget{
    width: 450px;
}
.float{
    float: left;
}
#forget div{
    margin-bottom: 20px;
}
#forget a{
    color: orangered;
}
#forget p{
    color: #8c8c8c;
    font-size: 20px;
}
#forget input[type="submit"]{
    width: 150px;
    margin-left: 100px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    background: whitesmoke;
    height: 50px;
    font-size: 20px;


}







